* {margin: 0; padding: 0;}
body {
	position: relative;

	font-family: sans-serif;

	overflow-x: hidden;

	background: rgb(43, 48, 59);
	color: rgb(192, 197, 206);
}
.wrap {
	width: 1024px;
	margin: auto;
}
h1, h2, h3, h4, h5, h6 {
	font-family: serif;
	text-transform: capitalize;
	box-shadow: 10px solid white;

	color: rgb(191, 97, 106);
}

header {
	height: 50px;
	background: rgb(28, 31, 38);
}

header .logo{
	width: 240px;
	margin-left: 40px;
}
header .logo a {
	color: rgb(163, 190, 140);
	vertical-align: middle;	
	text-decoration: none;
}
header nav ul li a{
	color: rgb(163, 190, 140);
}

.content {padding: 20px; background: rgb(43, 48, 59);}
.content .post {
	margin: 10px auto;
	padding: 20px;
	background: rgb(35, 40, 48);

}


/************************common************************/
.left {float: left;}
.clear:after {
	display: block;
	content: '.';
	visibility: hidden;
	clear: both;
}
nav>ul li {display: inline; list-style: none;}
nav>ul li a {text-decoration: none;}

.notification {
	padding: 10px; 
	margin: 10px auto;
	border-radius: 10px;
	text-align: center;
	width: 220px;
	font-size: 1.2em;
	color: white;
}
.error {background: rgb(191, 97, 106);}
.sucess {background: rgb(163, 190, 140);}